.wrapper {
    margin: 0;
    padding: 0;
    font-family: 'montserrat', sans-serif;
    min-height: 100vh;
    background-image: linear-gradient(125deg, #6a89cc, #b8e994);
}
.container {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #343434;
}
.fonts {
    font-family: Arial, Helvetica, sans-serif;
    color: #5d6d7e;
}
.title {
    font-size: 160px;
    margin: 0;
    font-weight: 900;
    letter-spacing: 20px;
    background: url("https://i.pinimg.com/236x/46/bd/a8/46bda827cc45e29d1ad51ce236f0bd0d.jpg") center ;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.style {
    text-decoration: none;
    background: #a2d9ce;
    color: #fff;
    padding: 12px 24px;
    display: inline-block;
    border-radius: 25px;
    font-size: 14px;
    text-transform: uppercase;
    transition: 0.4s;
}
.style:hover {
    background: paleturquoise;
}