.Message {
      padding: 10px;
      min-height: 10vh;
      display: flex;
      align-items: center;
      justify-content: center;
}

.avatar {
    width: 50px;
    height: 50px;
    margin: 3px;
    border-radius: 50%;
}

.textbox {
padding: 6px 12px 20px 20px;
border-radius: 5px;
transform: translateY(-28px);
background: lightslategray;

}

.text {
    width: 300px;
    height: auto;
    padding: 5px;
    display: flex;
    align-items:center;
    margin-bottom: 15px;
    font-size: 0.9rem;
}

.name {
    font-weight: bold;
    font-family: "JetBrains Mono";
    font-size: 1.5rem;
    color: rgb(221,210,210);
}

.time {
    font-size:xx-small;
    position: absolute;
    bottom: 15%;
    right: 3px;
    font-weight: bold;
}

