.fullBlock {
    height: 25vh;
    text-align: center;
    border: 1px solid #c1c1c1;
    border-radius: 10px;
    width: 200px;
    padding: 5px;
    margin: 0px auto;
}
.button {
    background: #E5E7E9;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
}
.button:hover {
    background: gray;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
}
